# Keep Rule
!gitkeep.txt
# Django #
db.sqlite3
*.log
*.pyc
__pycache__
# Media – User Generated Content #
media/
# Environments #
*.env
collosal/
# Visual Studio and Visual Studio Code #
*.suo
*.pyproj
*.pyproj.user
*.history
.vs/
obj/